<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
     style
      include style.css
   
</head>
<body>
<nav> 
<ul>
  <li class="items"><a href="/">HOME</a></li>
  <li class="items"><a href="/about">ABOUT</a></li>
  <li class="items"><a href="/service">SERVICES</a></li>
  <li class="items"><a href="/contact">CONTACT US</a></li>
</ul></nav>
<div class="container">
  <form action="/contact"  method="post" onsubmit="this.preventDefault()">
    <input name="name" id="in" placeholder="Name..">
    <input name="registration" id="reg" placeholder="Registration No...">
    <input type="password" name="password" id="in" placeholder="Password...">
    <textarea name="more" id="more" placeholder ="More about yoursef..."></textarea>
    <button id="btn" >Submit</button>
  </form>
</div>
   
</body>
</html>